.filterForm {
    text-align: left;
    margin: 100px 60px 50px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
    border-bottom: 1px solid grey;
}

#MatchSelector {
    width: 400px;
}

#PlayerSelector{
    width: 250px;
}