h4 {
    padding: 20px 50px 0px;
}

h5 {
    padding: 20px 50px 20px;
}

.chartGrid {
    display: inline-flex;
    flex-direction: row;
    padding: 0px 5px 50px;
    max-width: 100vh;
}

.title {
    margin-top: 60px;
}